body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.title {
  margin-bottom: 0;
  color: whitesmoke;
}

iframe {
  pointer-events: none;
}

.etherscan-logo {
  padding-bottom: 0.175rem;
  margin-left: 0.2rem;
  max-height: 1.75rem;
  transition: ease-in-out 150ms opacity;
}

.etherscan-logo:hover {
  opacity: 0.65;
}